<div class="row">
  <div class="col-lg-8">
    <div class="component">
      <div class="header">
        <h2>Add New User</h2>
      </div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas voluptatum saepe ipsum consequatur asperiores quibusdam obcaecati animi odio rem totam quo dolorem repudiandae repellat, ratione iure? Vero cumque quasi porro.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="component">
      <div class="header">
        <h2>Actions</h2>
      </div>
      <div class="content">
        <button class="btn btn-outline-primary" ng-click="$ctrl.newUser($ctrl.user)">Save User</button>
      </div>
    </div>
  </div>
</div>