<div class="component">
  <div class="header">
    <h2>Quick Actions <i class="ion ion-person-add"></i></h2>
  </div>
  <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore commodi exercitationem enim voluptates animi accusantium, architecto possimus? Facere ea assumenda fugiat optio laborum eum nesciunt ipsum, illum excepturi modi.</p>
    <div class="list-group">
        <a href="#/article/new" class="list-group-item list-group-item-action">Add New Tutorial</a>
        <a href="#/users" class="list-group-item list-group-item-action">View Users</a>
        <a href="#/comments" class="list-group-item list-group-item-action">Moderate Comments</a>
    </div>
  </div>
</div>