<div class="row">
  <div class="col-lg-8">
    <div class="component">
      <div class="header">
        <h2>User Profile:</h2>
      </div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia numquam, quidem soluta voluptate nisi rerum vel aliquid. Natus magni esse, quam accusamus fugit, nostrum ipsam dolor consequatur provident vitae voluptatibus.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="component">
      <div class="header">
        <h2>Actions</h2>
      </div>
      <div class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias soluta quaerat porro doloremque, in tenetur et at facilis. Vero, obcaecati dignissimos rem perferendis fugiat aut eum quae. Amet, fuga, omnis?</p>
      </div>
    </div>
  </div>
</div>